{% extends "layout.njk" %}

{% block content %}
<h1>Games</h1>
<ul>
  {% for game in games %}
  <li class="content"><a href="/games/{{game.slug}}">{{game.name}}</a></li>
  {% endfor %}
</ul>
{% endblock %}