{% block css %}
  <link rel="stylesheet" href="/assets/styles/navbar.css">
{% endblock %}

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">Gaming Catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="row">
      <div class="collapse navbar-collapse col-6" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/platforms">Platforms</a>
          <a class="nav-link" href="/games">Games</a>
        </div>
      </div>
    </div>
    
    <div class="navbar-login col-6">


      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          

            <form class="px-4 py-3">
              <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" required>
              </div>
              <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" required>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="dropdownCheck">
                  <label class="form-check-label" for="dropdownCheck">
                    Remember me
                  </label>
                </div>
              </div>
              <button type="submit" class="btn">Login</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">New around here? Sign up</a>
            <a class="dropdown-item" href="#">Forgot password?</a>


        </div>
      </div>


    </div>
  </div>  
</nav>