{% extends "layout.njk" %}

{% block title %}
  <title>Platforms</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/assets/styles/platforms.css">
{% endblock %}

{% block content %}
<h1>Platforms</h1>

<div class="container">
  <div class="platforms-list row justify-content-between">
  {% for platform in platforms %}
    <div class="col-12 col-xl-3">
      <div class="card">
        <img src="{{platform.platform_logo.url}}" class="card-img-top" alt="{{platform.name}}">
        <div class="card-body">
          <h5 class="card-title">{{platform.name}}</h5>
          <p class="card-text">{{platform.summary}}</p>
          <p>...</p>
          <a href="/platforms/{{platform.slug}}" class="btn btn-primary">Find More</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
