{% extends "layout.njk" %}

{% block title %}
  <title>Home</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/assets/styles/home.css">
{% endblock %}

{% block content %}
<h1>Game Catalog</h1>

<div class="container">
  <div class="row col-12">
    <div class="card-columns">
      <div class="card">
        <img src="/assets/images/parappa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, libero. Magnam eius eos tempore. Quidem ipsum nisi aliquam, corrupti temporibus explicabo libero quam animi odio consectetur mollitia quibusdam earum laboriosam!</p>
        </div>
      </div>
      <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <img src="/assets/images/parappa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card text-center p-3" id="unique-card">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
          <footer class="blockquote-footer text-black">
            <small id="small-unique-card">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/images/parappa.jpg" class="card-img-top" alt="...">
      </div>
      <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}