#games .mb-3 {
  background-color: #032f46;
  color: white;
  margin-bottom: -100px !important;
  padding: 20px;
  transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
    scale(0.9, 0.9);
  border-radius: 20px;
  box-shadow: 0 70px 40px -20px #080808;
  transition: all 0.4s ease-in-out;
}

#games .mb-3:hover {
  transform: translate3d(0px, 0px, -250px);
  color: black;
  background-color: #ffd2b8;
  z-index: 0;
}

#games .image-url {
  display: flex;
  justify-content: center;
  max-width: 250px;
}

#games .col-md-4 {
  display: flex;
  justify-content: center;
}

#games .col-md-8 {
  display: flex;
  flex-direction: column;
}

#games .card-title {
  font-size: 35px;
}

#summary {
  font-size: 12px;
  max-height: 80px;
  overflow: scroll;
}

#newGame,
#newGameForm {
  background-color: #032f46;
  color: white;
}

.form-row {
  background-color: #004365;
  padding: 0.25rem;
}

#startForm {
  border-radius: 0.25rem 0.25rem 0 0;
}

#endForm {
  border-radius: 0 0 0.25rem 0.25rem;
}

#submitData {
  margin-top: 0.5rem;
  color: white;
  background-color: #ff572d;
}

#newGame:hover,
#submitData:hover {
  background-color: #ffd2b8;
}
