body {
  background-color: #ff572d;
}

h1 {
  color: white;
  text-align: center;
  font-size: 75px;
  margin-top: 10px;
  margin-bottom: 25px;
}

a:hover {
  color: #ffd2b8;
  text-decoration: none;
}
