body {
  background-color: #191919;
}

h1 {
  color: white;
  text-align: center;
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}

a:hover {
  color: #606368;
  text-decoration: none;
}
