.navbar-expand-lg {
  background-color: #032f46 !important;
}

.navbar-brand {
  color: #ff572d !important;
}

.nav-link {
  color: white !important;
  transition: all 0.2s;
}

.nav-link:hover {
  color: #ffd2b8 !important;
}
